.ಠ_ಠ {
	background-color: #FDFCFB;
	font-size: 20px;
	color: orange;
	padding: 33px;
}

.❤ {
	background-color: #FDFCFB;
	font-size: 20px;
	color: orange;
	padding: 33px;
}

.☺ {
	background-color: #FDFCFB;
	font-size: 20px;
	color: orange;
	padding: 33px;
}

.✌ {
	background-color: #FDFCFB;
	font-size: 20px;
	color: orange;
	padding: 33px;
}

.☀ {
	background-color: #FDFCFB;
	font-size: 40px;
	color: purple;
	padding: 19px;
} 

.♫ {
	background-color: #FDFCFB;
	font-size: 40px;
	color: purple;
	padding: 19px;
}

.☃ {
	background-color: #FDFCFB;
	font-size: 40px;
	color: purple;
	padding: 19px;
}

.☂ {
	background-color: #FDFCFB;
	font-size: 40px;
	color: purple;
	padding: 19px;
}

.★ {
	background-color: #FDFCFB;
	font-size: 60px;
	color: green;
	padding: 5px;
}

.✂ {
	background-color: #FDFCFB;
	font-size: 60px;
	color: green;
	padding: 5px;
}

.✈ {
	background-color: #FDFCFB;
	font-size: 60px;
	color: green;
	padding: 5px;
}

.✏ {
	background-color: #FDFCFB;
	font-size: 60px;
	color: green;
	padding: 5px;
}
