.ಠ_ಠ {
	background-color: #FDFCFB;
	font-size: 20px;
	color: transparent;
  	text-shadow: 0 0 0 orange;
}

.❤ {
	background-color: #FDFCFB;
	font-size: 20px;
	color: transparent;
  	text-shadow: 0 0 0 orange;
}

.☺ {
	background-color: #FDFCFB;
	font-size: 20px;
	color: transparent;
  	text-shadow: 0 0 0 orange;	
}

.✌ {
	background-color: #FDFCFB;
	font-size: 20px;
	color: transparent;
  	text-shadow: 0 0 0 orange;	
}

.☀ {
	background-color: #FDFCFB;
	font-size: 40px;
	color: transparent;
  	text-shadow: 0 0 0 purple;	
} 

.♫ {
	background-color: #FDFCFB;
	font-size: 40px;
	color: transparent;
  	text-shadow: 0 0 0 purple;	
}

.☃ {
	background-color: #FDFCFB;
	font-size: 40px;
	color: transparent;
  	text-shadow: 0 0 0 purple;	
}

.☂ {
	background-color: #FDFCFB;
	font-size: 40px;
	color: transparent;
  	text-shadow: 0 0 0 purple;	
}

.★ {
	background-color: #FDFCFB;
	font-size: 60px;
	color: transparent;
  	text-shadow: 0 0 0 green;
}

.✂ {
	background-color: #FDFCFB;
	font-size: 60px;
	color: transparent;
  	text-shadow: 0 0 0 green;	
}

.✈ {
	background-color: #FDFCFB;
	font-size: 60px;
	color: transparent;
  	text-shadow: 0 0 0 green;	
}

.✏ {
	background-color: #FDFCFB;
	font-size: 60px;
	color: transparent;
  	text-shadow: 0 0 0 green;	
}
